html,body {background-color:#000;}
body {
	font-family: Georgia, sans-serif;
	background-color:#000;
	/*
	-webkit-transform: rotate3d(0,0,1, 0deg);
	-moz-transform: rotate3d(0,0,1, 0deg);
	transform: rotate3d(0,0,1, 0deg);
	*/
	color:#fff;
}
body.pointer {
	cursor: pointer;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

::-moz-selection {background: #00DDFF; color: #fff; text-shadow: none;}
::selection {background: #00DDFF; color: #fff; text-shadow: none;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#wrapper {
	width:940px;
	margin:0 auto;
	height:100%;
	clear:both;
	position:relative;
}
header {
	height:80px;
}
header h1 {
	font-family: 'Arvo', Georgia, serif;
	font-size:31px;
	line-height:36px;
	font-weight:normal;
	letter-spacing:2px;
	position:relative;
}
header h1 span {
	color:#00F2FF;
}
header h2 {
	font-family: 'Open Sans', arial, serif;
	font-size:13px;
	font-style: normal;
	font-weight: 300;
	color:#aaa;
	letter-spacing:1px;
}
header #header {
	margin:10px;
}
header #social {
	top:0;
	right: 30px;
	margin-top:10px;
	position:absolute;
}
header #social ul {
	
}
header #social ul li {
	float:left;
	margin-left:10px;
}
.canvas_container{
	position:relative;
	clear:both;
	min-height:4000px;
}
canvas {
	-webkit-transform: translateZ(0);
	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
canvas#flows {
	background:transparent;
	position:relative;
	z-index:1000;
	left:0px;
	background-color:rgba(0,0,0,0.85);
}
canvas#flows.horizontal {
	left:0px;
}
canvas#ix {
	background:transparent;
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
}
.ititle {
	position:absolute;
	z-index:1010;
	background-color:#222;
	font-family: 'Open Sans', arial, serif;
	color:#fff;
	font-size:12px;
	font-style: normal;
	font-weight: 300;
	padding:3px 8px;
	border:1px solid #eee;
	display:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	
	-webkit-box-shadow: 0px 0px 5px rgba(255,255,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 5px rgba(255,255,0,0.4);
	
}
.ontop .ititle {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size:12px;
	border:0px solid #eee;
	background-color: #000;
	padding:1px 5px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.ititle img {
	width:12px;
	height:12px;
}
#tooltip {
	font-family: 'Open Sans', arial, serif;

	position: absolute;
	z-index:99999;
	
	top:0;
	left:0;


	

	/*-webkit-transition: left 100ms ease,top 100ms ease;
	-moz-transition: left 100ms ease,top 100ms ease;
	-ms-transition: left 100ms ease,top 100ms ease;
	-o-transition: left 100ms ease,top 100ms ease;
	transition: left 100ms ease,top 100ms ease;*/
	

	font-weight: normal;
	color:#ddd;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
}
#tooltip div {
	display: block;
	min-width:100px;
	max-width: 200px;
	left:-50%;
	position:relative;
	background: rgba(40,40,40,0.8);
	padding:5px;
}
#tooltip div span {
	color:#fff;
}
.info {
	position:absolute;
	z-index:9999;
	width:175px;
	/*height:300px;*/
	display:none;
	font-family: 'Open Sans', arial, serif;
	font-size:12px;
	font-style: normal;
	font-weight: 300;
	padding:5px 30px 5px 0px;
	margin-left:-5px;
	border-top:1px dotted #666;
	background-color:rgba(0,0,0,0.95);
}
#dst_info.info {
	padding:5px 0px 5px 30px;
	border-top:1px dotted #666;
}
.horizontal .info {
	
}
.info ul li a {
	display:block;
	height:19px;
	text-decoration:none;
	color:inherit;
}
.info ul li a:hover {
	background-color:#333;
}

.info h2 {
	color:#00F2FF;
	font-size:17px;
	display: block;
}

.info h2 a{
	color:inherit;
	text-decoration:none;
}
.info h2 a:hover{
	text-decoration:underline;
}
.info a.close {
	font-size:10px;
	color:#aaa;
	display: block;
	position: absolute;
	bottom:-10px;
	text-transform: uppercase;
	text-decoration: none;
}
.info a.close:hover {
	color:#ddd;
	text-decoration: none;
}
#dst_info a.close {
	right:0;
}
.info h3 {
	font-size:14px;
}
.info h3 b,
.info h4 b{
	float:right;
}
.info h4 {
	font-size:13px;
}
.info h5 {
	font-size:13px;
	margin-top:8px;
}
.info ul {
	border-bottom:1px dotted #333;
	margin-top:2px;
}
.info ul li {
	height:19px;
}
.info ul li.o {
	height:19px;
	margin-top:4px;
	padding-top:4px;
	border-top:1px dashed #333;
}
.info ul li span.name {
	display:block;
	float:left;
	width:110px;
	overflow:hidden;
	height:19px;
	text-overflow: ellipsis;
}
.info  ul li span.val {
	display:block;
	height:19px;
	text-align:right;
	float:right;
}
.info ul li a.sel {
	color:#00FFEE;
}
.info ul li a span.name b {
	display:none;
	color:#00FFEE;
}
.info ul li a.sel span.name b {
	display:inline;
}
.info ul li.p0 {
	color:#fff;
	text-decoration:none;
}
.info ul li.p1 {
	color:#aaa;
	text-decoration:none;
}
#contents {
	position:absolute;
	display:none;
	height:100%;
	width:520px;
	z-index:1010;
	top:80px;
	left:212px;
	background-color:rgba(0,0,0,0.85);
	z-index:900;
}
#contents.ontop{
	z-index:1010;
	margin-left: 1px;
}
#contents a {
	color:#00FFEE;
}
#contents a:hover {
	color:#FF00FF;
}
#contents .alert {
	position:relative;
	margin:0 35px 40px;
	font-family: 'Arvo', Georgia, serif;
	font-size:22px;
	line-height:24px;
	font-weight:normal;
	letter-spacing:1px;
	margin-bottom:20px;
	color:#E01B4C;
	border-bottom:1px dotted #E01B4C;
	display:none;
	padding-bottom:5px;
}
#contents .alert span {
	color:#fff;
}

#contents .par {
	position:relative;
	margin:0 35px 40px;
	font-family: 'Arvo', Georgia, serif;
}
#contents .par strong,
#contents .alert span strong {
	color:#00F2FF;
}
#contents .par h3 {
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	letter-spacing:1px;
	margin-bottom:10px;
}
#contents .par h4 {
	font-size:22px;
	line-height:26px;
	font-weight:normal;
	letter-spacing:1px;
	padding-bottom:2px;
	border-bottom:1px solid #555;
}
#contents .par h5 {
	font-size:18px;
	line-height:22px;
}
#contents .par h4 a{
	float:right;
	font-size:12px;
	font-family: 'Arvo', Georgia, serif;
	color:#ddd;
	line-height:14px;
	margin-top:9px;
	text-decoration:none;
	letter-spacing:0px;
}
#contents .par h4 a:hover{
	color:#00F2FF;
	font-weight:normal;
}
#contents .par p {
	font-size:15px;
	line-height:24px;
	font-weight:normal;
}
#contents .par ul {
	margin:0;
}
#contents .par ul.hidden {
	display:none;
}
#contents .par ul li {
	margin:3px 0;
	padding:3px 2px 2px;
	border-bottom:1px solid transparent;
}
#contents .par ul li:hover {
	background-color:#111;
	border-bottom:1px solid #333;
}
#contents .par ul li.p0 a{
	color:#fff;
	text-decoration:none;
}
#contents .par ul li.p1 a{
	color:#aaa;
	text-decoration:none;
}

#contents .par ul li span.name {
	display:block;
	float:left;
	width:340px;
	overflow:hidden;
	height:19px;
}
#contents .par ul li span.val {
	display:block;
	text-align:right;
}
span.not {
	text-decoration: line-through;
}
#footer {
	font-family: "Arvo",Georgia,serif;
	height: 50px;
	width: 940px;
	margin: 85px auto 0
}
#footer h1.logo {
	text-align:center;
}
#footer #logo {
	
	font-size:20px;
}
#footer #logo span {
	color:#0df;
	font-size:inherit;
}
#footer h1.logo span {
	font-size:12px;
}
#footer h1.logo span a {
	color:#fff;
	text-decoration: none;
}
#footer h1.logo span a:hover {
	color:#0df;
}
#footer #licence {
	font-size: 11px;
	width:280px;
	margin: 0 auto;
	border-top:1px solid #444;
	text-align: center;
	margin-top: 20px;
	padding-top: 10px;
}
#footer #licence div{
	text-align: left;
}
#footer #licence a {
	color:#aaa;
	text-decoration: none;
}
.no-touch #footer #licence a:hover {
	color:gold;
}
#footer #licence a.cc {
	float:left;
	margin-right: 10px;
}