html,body {background-color:#000;}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
	background-color:#000;
	/*
	-webkit-transform: rotate3d(0,0,1, 0deg);
	-moz-transform: rotate3d(0,0,1, 0deg);
	transform: rotate3d(0,0,1, 0deg);
	*/
	color:#fff;
}
body.pointer {
	cursor: pointer;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

::-moz-selection {background: #00DDFF; color: #fff; text-shadow: none;}
::selection {background: #00DDFF; color: #fff; text-shadow: none;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#wrapper {
	width: 100%;
	margin:0 auto;
	height:100%;
	clear:both;
	position:relative;
}
header {
	height:80px;
}
header h1 {
	font-family: 'Arvo', Georgia, serif;
	font-size:38px;
	line-height:36px;
	font-weight:normal;
	letter-spacing:2px;
	position:relative;
	text-align: center;
	margin-bottom:4px;
}
header h1 span {
	color:#00F2FF;
}
header h2 {
	font-family: 'Open Sans', arial, serif;
	font-size:14px;
	font-style: normal;
	font-weight: 300;
	color:#aaa;
	letter-spacing:2px;
	margin-top: 0;
	text-align:center;
}

#footer {
	font-family: "Arvo",Georgia,serif;
	height: 50px;
	width: 940px;
	margin: 85px auto 0
}
#footer h1.logo {
	text-align:center;
}
#footer #logo {

	font-size:20px;
}
#footer #logo span {
	color:#0df;
	font-size:inherit;
}
#footer h1.logo span {
	font-size:12px;
}
#footer h1.logo span a {
	color:#fff;
	text-decoration: none;
}
#footer h1.logo span a:hover {
	color:#0df;
}
#footer #licence {
	font-size: 11px;
	width:280px;
	margin: 0 auto;
	border-top:1px solid #444;
	text-align: center;
	margin-top: 20px;
	padding-top: 10px;
}
#footer #licence div{
	text-align: left;
}
#footer #licence a {
	color:#aaa;
	text-decoration: none;
}
.no-touch #footer #licence a:hover {
	color:gold;
}
#footer #licence a.cc {
	float:left;
	margin-right: 10px;
}
